[submodule "learn-gh-200"]
	path = learn-gh-200
	url = https://github.com/ntttrang/learn-gh-200.git
	ignore = dirty
[submodule "learn-dp-800"]
	path = learn-dp-800
	url = https://github.com/ntttrang/learn-dp-800.git
	ignore = dirty
[submodule "learn-gh-600"]
	path = learn-gh-600
	url = https://github.com/captain-corgi/learn-gh-600.git
	ignore = dirty
